- content_for :page_title do
  | Product Upcharges

- content_for :page_actions do
  = button_link_to "Upcharge", new_admin_product_upcharge_product_path, { :class => "btn-success", :icon => 'add' }

.well
  - if @upcharges.any?
    table.table
      thead
        tr
          th Type
          th Value
          th Price Code
          th Range
          th Imprint Method
      tbody
        - @upcharges.each do |upcharge|
          tr
            td = upcharge.upcharge_type.name
            td = upcharge.value.to_f.round(2)
            td = upcharge.price_code
            td = upcharge.range
            td = upcharge.imprint_method.name if upcharge.imprint_method.present?
            td.actions.actions-2.text-right
              = button_link_to "Edit", \
                edit_admin_product_upcharge_product_path(upcharge.product,upcharge), \
                { :class => "btn-success btn-xs", :icon => 'edit'}
              = button_link_to "Delete", \
                admin_product_upcharge_product_path(upcharge.product,upcharge), \
                { :class => "btn-danger btn-xs", :icon => 'delete', :method => :delete}

  - else
    .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ColorProduct))
    = ","
    = link_to Spree.t(:add_one), new_admin_product_upcharge_product_path
    = "!"
