<p> Welcome <%= @user.email %> ! </p>

<p> You can confirm your account email through the url below: </p>

<p> <%= link_to @confirmation_url, @confirmation_url %> </p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">