<table data-id="<%=spree_current_user.spree_api_key%>" class="table table-striped" id="message-table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= Spree.t(:date) %></th>
      <th><%= Spree.t(:subject) %></th>
      <th class="actions"><%= Spree.t(:action_col) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
