<% if @auction.clone.present? %>
  <div class="active_price">Total Price:&nbsp;&nbsp;<span style="display:none;" id='price-spin'><i class='fa fa-spinner fa-pulse'></i></span><span class="cs-active-price">&nbsp;</span></div>
<% end %>
