.form_group
  = f.label :ship_to_zip, 'Shipping Address'
  = f.select :ship_to_zip, options_from_collection_for_select(@addresses, :zipcode, :name), { prompt: 'Select Address' } , { class: 'form-control' }
