a id='need_it_sooner' Need it sooner?
.form-group style='display:none' id='shipping_option_group'
  = label_tag :shipping_option, 'Shipping Option'
  = select_tag :shipping_option, options_for_select(@shipping_options), { class: 'form-control' }
