<% if @categories.any? %>
  <div id="products" class="row" >
    <% @categories.each do |category| %>
      <% if category.products.present? %>
        <% url = seo_url(category) %>
        <div id="category<%= category.id %>" class="col-md-3 col-sm-6 product-list-item">
          <div class="panel panel-default">
            <div class="panel-body text-center product-body">
              <%= link_to small_image(category.products.first, itemprop: "image"), url, itemprop: 'url' %><br/>
              <%= link_to truncate(category.name, length: 50), url, class: 'info', itemprop: "name", title: category.name %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
