<div class="email-signature">
  <div class="email-signature-icons">
    <style>
      div.email-signature-icons {padding-left:8px!important}
    </style>
    <a href="https://www.facebook.com/promobidz"><img class="Facebook-img" src="http://thepromoexchange.com/images/facebook-3-24.png" alt="Facebook Icon"></a>
    <a href="https://twitter.com/ThePromoX"><img class="Twitter-img" src="http://thepromoexchange.com/images/logo/twitter-3-24.png" alt="Twitter Logo"></a>
    <a href="https://www.linkedin.com/company/promoexchange"><img class="LinkedIn-img" src="http://thepromoexchange.com/images/logo/linkedin-3-24.png" alt="LinkedIn Icon"></a>
  </div>
<br>
<a href="http://thepromoexchange.com">
  <img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo" style=height="96px" width="96px">
</a>
</div>
