<p>
  Hello <%= @customer.user.shipping_address.full_name %>,
</p>

<p>
  Please click on the link below to head over to your dashboard with the transaction amounts that were deposited into your checking account by Stripe.<br>
  Once both transactions are confirmed you will be able to pay for your auctions using your checking account.
</p>

<p>
  <a href="<%= Spree::Store.current.url %>/dashboards?tab=payment_method">
    <button style="width: 120; height: 40px; font-size: 20px; background: #4CAE4C;">Dashboard</button>
  </a>
</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">