<p>
  Hello <%= @customer.user.shipping_name %>,
</p>

<p>
  Please click on the link below to head over to your dashboard with the transaction amounts that were deposited into your checking account by Stripe.<br>
  <br>
  Once both transactions are confirmed you will be able to pay for your auctions using your checking account.
</p>

<p>
  <a href="http://<%= Spree::Store.current.url %>/dashboards?tab=payment_method">
    <button class="btn btn-success" style = "color: white; background-color: #5cb85c; border-color: #4cae4c;">Dashboard</button>
  </a>
</p>

<%= render partial: 'email_signature' %>
