<p>
  Hello <%= @customer.user.shipping_address.full_name %>,
</p>

<p>
  Please click on the link below to head over to your dashboard with the transaction amounts that were deposited into your checking account by Stripe.<br>
  <br>
  Once both transactions are confirmed you will be able to pay for your auctions using your checking account.
</p>

<p>
  <a href="http://<%= Spree::Store.current.url %>/dashboards?tab=payment_method">
    <button type="button" class="btn btn-success">Dashboard</button>
  </a>
</p>

<%= render partial: 'shared/email_signature' %>
