<p>RE: Auction <%= @auction.reference %></p>

<p>Your order for <%= @auction.product.name %> from <%= @auction.winning_bid.seller.shipping_address.company %> should have arrived by now.</p>

<p>Please step over to PromoExchange and confirm the receipt of the package.</p>

<p>Thank you for using the PromoExchange!</p>
<p>We look forward to hearing about your experience.</p>

<p>The PromoExchange Team</p>

<%= render partial: 'email_signature' %>
