<p>Hello <%= @customer.user.shipping_address.full_name %></p>

<p>  Pelase confirm their checking account using the deposits recently put in their account by Stripe </p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">