<p> You recently requested product ideas from a swag specialist at the PromoExchange. We have put together several ideas for you to choose from by clicking here. </p> 

<p><a href="<%= Spree::Store.current.url %>/dashboards">
  <button style="width: 170px; height: 40px; font-size: 20px; background: #4CAE4C;">Clicking Here</button>
</a></p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">