<p> You recently requested product ideas from a swag specialist at the PromoExchange. We have put together several ideas for you to choose from by clicking here. </p>

<p>
  <a href="http://<%= Spree::Store.current.url %>/dashboards?tab=product_idea">
    <button type="button" class="btn btn-success">Click Here</button>
  </a>
</p>

<%= render partial: 'email_signature' %>
