<p>RE: Auction <%= @auction.reference %></p>

<h1>Buyer Product Delivered and Project Closed</h1>

<p>It looks like your order for <%= @auction.product.name %> from <%= @auction.winning_bid.seller.shipping_address.company %>&nbsp;<%= @auction.winning_bid.seller.shipping_address.lastname %> was recently delivered. Please head over to your dashboard to confirm receipt and accuracy of the order.  We’d also appreciate your participation in rating your Seller to ensure we are providing all of our Buyers the best Sellers in the industry to work with.</p>

<p>The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
