<p>RE: Auction <%= @auction.reference %></p>

<p>Looks like your proof has not been reviewed yet. In order to produce the order as soon as possible we need your feedback. </p>

<p>Please click on the link below which will take you over to the project in your dashboard. You will be able to approve or reject the proof and provide feedback if necessary. </p>

<p>
  <a href="http://<%= Spree::Store.current.url %>/dashboards?tab=purchase_history">
    <button type="button" class="btn btn-success">Dashboard</button>
  </a>
</p>

<p> The PromoExchange Team </p>

<%= render partial: 'email_signature' %>
