<p>RE: Auction <%= @auction.reference %></p>
<p>We noticed that you recently closed a project with <%= @auction.seller.shipping_address.company %> for <%= @auction.product.name %> but have yet to rate their performance.</p>
<p>It would be greatly appreciated if you could take a couple of minutes to head over to your dashboard to complete this quick form for us so we can continue to offer you and our other Buyers the very best experience on the Exchange. </p>

<p>The PromoExchange Team</p>
<div class="email-signature">
  <div class="email-signature-icons">
    <style>
      div.email-signature-icons {padding-left:8px!important}
    </style>
    <a href="https://www.facebook.com/promobidz"><img class="Facebook-img" src="http://thepromoexchange.com/images/logo/facebook-3-24.png" alt="Facebook Icon"></a>
    <a href ="https://twitter.com/ThePromoX"><img class="Twitter-img" src="http://thepromoexchange.com/images/logo/twitter-3-24.png" alt="Twitter Logo"></a>
    <a href ="https://www.linkedin.com/company/promoexchange"><img class="LinkedIn-img" src="http://thepromoexchange.com/images/logo/linkedin-3-24.png" alt="LinkedIn Icon">
    </a>
  </div>
<br>
<a href ="http://thepromoexchange.com">
  <img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo" style=height="96px" width="96px">
</a>
</div>
