RE: Auction <%= @auction.reference %>

Congratulations! The order for <%= @auction.buyer.billing_address.company %>'s of <%= @auction.product.name %> was delivered and confirmed.

Your payment is waiting to be claimed. Please head over to your dashboard to select the method you would prefer your payment to be sent in and we will release payment as soon as possible.

  Thanks for participating in this project and good luck on all of your other projects.

Sincerely, <br/>
The PromoExchange Team</p>
