<p>RE: Auction <%= @auction.reference %></p>

<p>The auction is now complete. You are able to claim your payment from PromoExchange.</p>

<p>Sincerely, <br/>
The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
