<p>RE: Auction <%= @auction.reference %></p>

<p><%= @auction.product.name %> received</p>

<p>It looks like <%= @auction.buyer.billing_address.company %>'s order for <%= @auction.product.name %> was recently received. </p>

<p>The PromoExchange Team</p>

<div class="email-signature">
  <div class="email-signature-icons">
    <style>
      div.email-signature-icons {padding-left:8px!important}

    </style>
    <a href="https://www.facebook.com/promobidz"><img class="Facebook-img" src="/Users/knobbie24/batman/app/assets/images/logo/facebook-3-24.png" alt="Facebook Icon"></a>
    <a href ="https://twitter.com/ThePromoX"><img class="Twitter-img" src="/Users/knobbie24/batman/app/assets/images/logo/twitter-3-24.png" alt="Twitter Logo"></a>
    <a href ="https://www.linkedin.com/company/promoexchange"><img class="LinkedIn-img" src="/Users/knobbie24/batman/app/assets/images/logo/linkedin-3-24.png" alt="LinkedIn Icon">
    </a>
  </div>
<br>
<a href ="http://thepromoexchange.com">
  <img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo" style=height="96px" width="96px">
</a>
</div>
