<p>RE: Auction <%= @auction.reference %></p>

<h1><%= @auction.product.name %> received</h1>

<p>It looks like <%= @auction.buyer.billing_address.company %>'s order for <%= @auction.product.name %> was recently received. </p>

<p>The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
