<p>RE: Auction <%= @auction.reference %></p>

<p>It looks like <%= @auction.buyer.billing_address.company %> order for <%= @auction.product.name %> was recently delivered. </p>

<p>The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
