<h1> Preview Rating </h1>

<p> Good news! The buyer for <%= @auction.buyer.billing_address.company %> and their auction <%= @auction.reference %> has has rated your service. </p>

<p class="star-rating">
  <% for i in 1..5 %>
    <span class ="<%= 'rating' if i <= @auction.review.rating %>">☆</span>
  <% end %>
</p>

<p><%= @auction.review.review %></p>

<p> The PromoExchange Team </p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">

<style>
  p.star-rating span{
    display: inline-block;
    position: relative;
    width: 1.0em;
    font-size: 30px;
  }
  p.star-rating > span.rating:before{
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
  }
</style>
