<p>RE: Auction <%= @auction.reference %></p>

Congratulations! <%= @buyer.company.present? ? @buyer.company : "#{@buyer.firstname} #{@buyer.lastname}" %> has invited you to participate in a PromoExchange auction.

Accepting this invitation gives you a leg up on the competition because your PX fee is only 3.99% for this auction.


<%= Spree::Store.first.url %>/auctions/<%= @auction.id %>

Good luck!
The PromoExchange Team
