<p>Welcome to PromoExchange!</p>

<p>Your membership will give you access to great new sales opportunities from around the country. The process is simple and streamlined.</p>

<p>Don't want to miss an auction? Want to place a bid immediately after the Buyer posts the project? Check out this amazing new feature, PX Pre-bids!</p>

<p>It's a one-time setup process that allows you to simply enter your desired margin that will be added to the products net price and we calculate the rest. Out comes an all inclusive order total that takes into account everything from imprint method and colors, to freight and tax (if applicable). You can setup your pre-bid by navigating to your dashboard and clicking on the Account Settings tab.</p>

<p>Don't worry, if you don't want to setup your custom pre-bid markup or if you want to go even lower than your pre-bid is set for, you can always manually bid on each auction.</p>

<p>Thanks for joining the most exciting thing in the promotional products industry today, PromoExchange!</p>

<p>The PromoExchange Team</p>

<div class="email-signature">
  <div class="email-signature-icons">
    <style>
      div.email-signature-icons {padding-left:8px!important}

    </style>
    <a href="https://www.facebook.com/promobidz"><img class="Facebook-img" src="/Users/knobbie24/batman/app/assets/images/logo/facebook-3-24.png" alt="Facebook Icon"></a>
    <a href ="https://twitter.com/ThePromoX"><img class="Twitter-img" src="/Users/knobbie24/batman/app/assets/images/logo/twitter-3-24.png" alt="Twitter Logo"></a>
    <a href ="https://www.linkedin.com/company/promoexchange"><img class="LinkedIn-img" src="/Users/knobbie24/batman/app/assets/images/logo/linkedin-3-24.png" alt="LinkedIn Icon">
    </a>
  </div>
<br>
<a href ="http://thepromoexchange.com">
  <img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo" style=height="96px" width="96px">
</a>
</div>
