<p>RE: Auction <%= @auction.reference %></p>

<p>The order for <%= @auction.buyer.billing_address.company %> of <%= @auction.product.name %> looks like it should have shipped out.  Please input the tracking information for the order on your dashboard before 12 AM EST. If you fail to do so you will be at risk of losing the project and in breach of your user agreement.</p>
<p>If you have any questions regarding the inputting of the tracking information or anything else regarding the outstanding order please contact the PX team at admin@thepromoexchange.com.</p>

<p>Thanks!<br/>
The PromoExchange Team</p>

<img src="http://thepromoexchange.com/images/px_logo.png" alt="PX Logo">
