<div class="modal" id="imprint-definitions-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Imprint Method Definitions</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
          <p><b>Screen Print</b> - Your corporate message is applied directly onto the products' surface by pushing ink through a fine mesh screen. This is a cost effective process with excellent visibility. The minimum point size is 8.</p>

          <p><b>Image Lock</b> – uses uncoated ink screened on paper, which is heat-sealed onto the product surface. The minimum point size is 12.</p>

          <p><b>Embroidery</b> - Embroidery is a traditional method of decoration on fabric material that provides an elegant presentation of your corporate message. Your logo is digitized (term to describe the programming of the machine) and then stitched directly onto the product. The minimum point size is 20. The maximum number of colors is 9.</p>

          <p><b>Hot Stamp</b> - Your logo/design produced when a heated die is used to apply a foil imprint to a material surface. Silver and Gold foil available.</p>

          <p><b>Vivid Expressions</b> - Create dramatic, 4 color process logos on an array of products.</p>

          <p><b>Deboss</b> - A classic imprint method that leaves your corporate logo depressed on a material surface. A die is created for your logo and then heat-pressed onto the product. The result is a crisp, clean logo that you can see and touch. The minimum point size is 12.</p>

          <p><b>Glitz</b> - Rhinestones are one of the hottest trends in the fashion industry today. Now Vitronic Promotional Group offers a way to give your logo sparkle and shine with our Glitz Rhinestones!</p>

          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>
