<div class="modal" id="manage-project-off-site" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <p><b> Congratulations on your purchase of <%= @auction.product.name %>. We appreciate your business and would appreciate feedback on your experience with your Seller. </b><p>
            <p>
            <p>
              <button type="button" id="workflow-rate-seller" class="btn btn-primary pull-lest">Rate seller</button>
              <button type="button" id="workflow-continue" class="btn btn-primary pull-right">Continue</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
