<div class="active_price">Total Price:&nbsp;&nbsp;
  <span style="display:none;" id='price-spin'>
    <i class='fa fa-spinner fa-pulse'></i>
  </span>
  <span class="cs-active-price"></span>
  <p id="breakout_question"
    style="display:none;"
    class="glyphicon glyphicon-question-sign"
    data-toggle="popover"
    data-placement="right"
    data-trigger="focus">
  </p>
</div>
