<div class="form-group" data-hook="buttons">
  <% f.hidden_field :address_id, value: 0 %>
  <%= f.label :ship_to_zip, 'Shipping Address' %>
  <%= f.select :ship_to_zip, options_for_select(@addresses.map{ |address| [ address.name, address.zipcode, { 'data-id': address.id }]}), { } , { class: 'form-control' } %>
</div>
