<% if @current_company_store.gooten? %>
  <div style="display:none" id="breadcrumb-element" data-crumb='color'>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><div data-crumb='color'>Color</div></li>
      <li class="breadcrumb-item"><div data-crumb='logo'>Logo</div></li>
      <li class="breadcrumb-item"><div data-crumb='quantity'>Quantity</div></li>
      <li class="breadcrumb-item"><div data-crumb='address'>Address</div></li>
      <li class="breadcrumb-item"><div data-crumb='quality'>Quality</div></li>
    </ol>
  </div>
<% end %>
