<% if @current_company_store.gooten? %>
  <div style="display:none" id="breadcrumb-element">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="#" data-crumb='logo'>Logo</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='quantity'>Quantity</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='address'>Address</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='quality'>Quality</a></li>
    </ol>
  </div>
<% end %>
