<% if @current_company_store.gooten? %>
<div style="display:none" id="breadcrumb-element" data-crumb='quality'>
  		<ul class="breadcrumb">
        <li class="active"><div data-crumb='quality'>Quality</div></li>
        <li><div data-crumb='quantity'>Quantity</div></li>
        <li><div data-crumb='color'>Color</div></li>
        <li><div data-crumb='logo'>Logo</div></li>
        <li><div data-crumb='address'>Address</div></li>
  		</ul>
</div>
<% end %>
