<% if @current_company_store.gooten? %>
  <div style="display:none" id="breadcrumb-element">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="#" data-crumb='color'>1.&nbsp;Color</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='logo'>2.&nbsp;Logo</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='quantity'>3.&nbsp;Quantity</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='address'>4.&nbsp;Address</a></li>
      <li class="breadcrumb-item"><a href="#" data-crumb='quality'>5.&nbsp;Quality</a></li>
    </ol>
  </div>
<% end %>
