<div id="purchase-card" class="vertical-align form-actions" data-hook="buttons">
  <%= button 'Purchase', 'ok', 'submit', { class: 'btn-primary cs-button cs-purchase-submit' , disabled: true } %>
</div>
