<div class="form-group">
  <%= f.label(:quality, Spree.t(:quality)) %>:

  <% if @product.quality_note.present? %>
    <p class='glyphicon glyphicon-question-sign'
      data-toggle='tooltip'
      data-placement='top'
      title='<%= @product.quality_note %>'>
    </p>
  <% end %>

  <%=
    f.select(
      :quality_option,
      options_for_select(
        @quality_options.map do |quality|
          [quality[:name], quality[:quality],
            {
              'product-id': quality[:product_id],
              'images': quality[:images].to_json
            }
          ]
        end,
        @purchase.quality_option
      ),
      { },
      { class: 'form-control' }
    )
  %>
</div>
