<div class="form-group">
  <%= f.label(:quality, Spree.t(:quality)) %>:

  <p class='display:none glyphicon glyphicon-question-sign'
    id='quality_toolip'
    data-toggle='tooltip'
    data-placement='top'
    title='<%= @product.quality_note %>'>
  </p>

  <%=
    f.select(
      :quality_option,
      options_for_select(
        @quality_options.map do |quality|
          [quality[:name], quality[:quality],
            {
              'product-id': quality[:product_id],
              'quality_note': quality[:quality_note],
              'images': quality[:images].to_json
            }
          ]
        end,
        @purchase.quality_option
      ),
      { },
      { class: 'form-control' }
    )
  %>
</div>
