<div style="display:none" class="gooten-element" id="summary-element">
  <hr/>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="summary-product-image mobile-image" alt="No Image" src="#">
      </div>
      <div class="col-md-6">
        <ul>
          <li><em>Quality:&nbsp;&nbsp;</em><span id="summary-quality">&nbsp;</span></li>
          <li><em>Quantity:&nbsp;&nbsp;</em><span id="summary-quantity">&nbsp;</span></li>
          <li><em>Address:</em><span id="summary-address">&nbsp;</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
