- content_for :page_title do
  | Imprint Methods

- content_for :page_actions do
  = button_link_to "Imprint Method", new_admin_product_imprint_methods_product_path, { :class => "btn-success", :icon => 'add' }

.well
  - if @imprint_methods_products.any?
    table.table
      thead
        tr
          th Imprint Method
          th Action
      tbody
        - @imprint_methods_products.each do |imprint_method|
          tr
            td = imprint_method.imprint_method.name
            td.actions.actions-2.text-right
              = button_link_to "Delete", \
                admin_product_imprint_methods_product_path(imprint_method.product,imprint_method), \
                { :class => "btn-success btn-xs", :icon => 'delete', :method => :delete}
  - else
    .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ImprintMethodsProduct))
    = ","
    = link_to Spree.t(:add_one), new_admin_product_imprint_methods_product_path
    = "!"
