<div class="form-group">
  <%= f.label(:quality, Spree.t(:quality)) %>
  <%= f.select :quality_option, options_for_select(@quality_options.map{ |quality| [quality[:name], quality[:quality], { 'product-id': quality[:product_id]}]}), { }, { class: 'form-control' } %>
</div>
