<div role="tabpanel" class="tab-pane active" id="buyer">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What should I do if I receive an offer directly from a Seller that is at a lower cost than the bids I receive on PromoExchange?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Auctions work best for Buyers when they are more competitive. Sellers who circumvent the Exchange are not giving other Sellers - perhaps those you would rather work with - a chance to lower their bids even more in order to be more competitive. If this should occur, the best thing to do would be to request the interested Seller to submit their bid on the Exchange in order for you to compile all of your bids and securely process the order.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Can PromoExchange contact my preferred Sellers and help them register?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Yes. Feel free to contact PromoExchange at hello@thepromoexchange.com and provide the Seller’s information you would like to register and we can walk them through the process. Please feel free to invite your sellers during the auction setup process. Look for the link Invite Sellers at the bottom of the auction setup page.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            The awarded Seller failed to fulfill the order. How should I proceed?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          We are constantly reviewing our Seller’s performance and our rating system is in place to ensure this situation rarely occurs. If by chance there is a problem with the Seller you selected please contact the support team at hello@thepromoexchange.com as soon as possible. We can work with you to get this project awarded to a new Seller who can fulfill the order as soon as possible or provide you with a full refund.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Can I award a Seller who is not the lowest bid the project?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Yes. PromoExchange enables all Buyers to select the bid they feel most comfortable with based on price or other criteria you see fit.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Can I further negotiate pricing with the Sellers after the auction has closed?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          No. Once you select a Seller the price is locked in and contractually binding.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Can I post an RFI to PromoExchange?
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          RFIs cannot be posted to the Exchange but we are working on a solution to help facilitate these types of buys in the future. Stay tuned!
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            What happens if my auction closes and the selected Seller informs me that the product is out of inventory?
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <div class="panel-body">
          Sellers should be alerting Buyers if there are inventory issues on the Exchange during the auction process. If for some reason the item is out of inventory after the auction closes you will have the right to either wait for it to be in stock or to cancel the purchase and select a new item.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingNine">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            How long is an auction required to be on the Exchange?
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
        <div class="panel-body">
          There is no minimum time limit required for a bid to be open. Buyers should close their auctions as soon as they are ready. Our Exchange enables our Sellers to predetermine their markups which will immediately fill in once your auction becomes live. The best prices are frequently displayed as soon as you post the auction.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTen">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            Can I transfer or give access to an auction to a colleague?
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
        <div class="panel-body">
          Yes. Please contact hello@thepromoexchange.com and we can get that setup for you.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEleven">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            Is there a way to include multiple delivery locations to one auction?
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
        <div class="panel-body">
          Yes. When setting up your auction select Advanced Options and edit your drop ship locations. The Sellers will take this into account when providing you with their bid.
        </div>
      </div>
    </div>
  </div>
</div>
