<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#buyer" aria-controls="buyer" role="tab" data-toggle="tab">Buyer</a>
    </li>
    <li role="presentation">
      <a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">Seller</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="buyer">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What should I do if I receive an offer directly from a Seller that is at a lower cost than the bid’s I receive on PromoExchange?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              If this should occur, the best thing to do would be to request the interested Seller to submit their bid on the Exchange in order for you to compile all of your bids and securely process the order. All auctions on the Exchange are also considered to be exclusively listed and the Seller would be required to have their bid reviewed along with everyone else’s.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Can PromoExchange contact my preferred Sellers and help them register?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Yes. Feel free to contact PromoExchange at support@thepromoexchange.com and provide the Seller’s information you would like to register and we can walk them through the process. Please feel free to invite your sellers during the auction setup process. Look for the link Invite Sellers at the bottom of the auction setup page.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                The awarded Seller failed to fulfill the order. How should I proceed?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              We are constantly reviewing our Seller’s performance and our rating system is in place to ensure this situation rarely occurs. If by chance there is a problem with the Seller you selected please contact the support team at support@thepromoexchange.com as soon as possible. We can work with you to get this project awarded to a new Seller who can fulfill the order as soon as possible.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I award a Seller who is not the lowest bid the project?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Yes. PromoExchange enables all Buyers to select the bid they feel most comfortable with based on price or other criteria you see fit.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Can I further negotiate pricing with the Sellers after the auction has closed?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              No. Once you select a Seller the price is locked in and contractually binding.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Is it possible to see the complete list of registered Sellers on PromoExchange?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              Yes. When you start an auction you can select Invite Sellers and enter an email address of your preferred Sellers or view a list of qualified Sellers that you can select from. Don’t worry if you don’t have a Seller you’d like to work with. The Exchange is a safe and secure site that qualifies all of the Sellers on the site to ensure you receive highly competitive pricing and responsive customer service.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Can I post an RFI to PromoExchange?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              RFI’s cannot be posted to the Exchange but we are working on a solution to help facilitate these types of buys in the future. Stay tuned!
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                What happens if my auction closes and the selected Seller informs me that the product is out of inventory?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              Seller’s should be alerting Buyers if there are inventory issues on the Exchange during the auction process. If for some reason the item is out of inventory after the auction closes you will have the right to cancel the buy and select a new item to start an auction for.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                How long is an auction required to be on the Exchange?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              There is no minimum time limit required for a bid to be open. Buyers should close their auctions as soon as they are ready. Our Exchange enables our Sellers to predetermine their markups which will immediately fill in once your auction becomes live. The best prices are frequentyly displayed as soon as you post the auction.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTen">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Can I transfer or give access to an auction to a colleague?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">
              Yes. Please contact support@thepromoexchange.com and we can get that setup for you.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEleven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                Is there a way to include multiple delivery locations to one auction?
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
            <div class="panel-body">
              Yes. When setting up your auction select Advanced Options and edit your drop ship locations. The Sellers will take this into account when providing you with their bid.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="seller">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How do I pay the PromoExchange fee?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              If the Buyer uses the PromoExchange Clearinghouse, the PromoExchange fee will be automatically deducted from the purchase price before your net price is sent to you. Otherwise, the fee is due within 10 days of project completion and can be paid via check or PayPal (PayPal’s standard fees apply). Credit Card Payment: (insert PayPal link) Checks: (insert mailing address when we have one)
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Should I include taxes in my price?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Yes. Unless otherwise stated your total project price should include any applicable taxes and fees. You cannot add additional charges once you bid has been selected by a Buyer.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Does the award price include the PromoExchange?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Yes. You enter the bid price in the terms of how much you will receive if selected. The bid displayed to the Buyer will automatically be slightly higher, as it will be adjusted to include the PromoExchange fee.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                I’ve already sent my bid to the Buyer directly. Why do I need to go through PromoExchange?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              When an auction is posted to the Exchange it is considered to be exclusively listed, binding and must be processed through the site. Circumventing PromoExchange after an auction has been posted is grounds for suspension of your PromoExchange membership.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Why is Customer Support contacting me about my bid?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              During the auction process, Buyers as well as PromoExchange may want to verify and confirm all specifications of the project are being met and that your bids are accurate and in compliance with the PromoExchange User Agreement.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Can I add an attachment to my bid?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              Buyers have the ability to attach artwork for a bid. Sellers do not have the ability to upload any files. Any information related to the bid should be communicated on the Exchange via our messaging functionality.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                How do I update my seller representative profile (will we have one?) and seller organization profile?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              Coming Soon! Look out for updates
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEight">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                How do I unsubscribe from email notifications?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
              Coming Soon! Look out for updates
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingNine">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                How will I know if I was awarded the bid?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
              Sellers will receive email notification if they have been awarded the bid or if they have a lost a bid. You can also check your Exchange inbox for communications.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTen">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                My account has been suspended? What actions are needed from me?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="panel-body">
              Please contact support@thepromoexchange.com for the reasons why your account was suspended if you have not received notification. To be in reinstated as a qualified Seller you must provide, in writing, an explanation and remedy to the issues that cause the suspension. Upon receipt, PromoExchange will review your account and contact you with our findings.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEleven">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                How do I view Buyer attachments?
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
            <div class="panel-body">
              Coming Soon! Look out for updates
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
