<div class="page">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#buyer" aria-controls="buyer" role="tab" data-toggle="tab">Buyer</a>
      </li>
      <li role="presentation">
        <a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">Seller</a>
      </li>
    </ul>
    <div class="tab-content">
      <%= render partial: 'pages/buyer_accordion' %>
      <%= render partial: 'pages/seller_accordion' %>
    </div>
  </div>
</div>
