<h2>Privacy Policy</h2>

<p>If you have questions or concerns regarding this statement, you should first contact Promobidz, Inc. dba PromoExchange by email at hello@thepromoexchange.com. All capitalized terms are specifically defined terms set forth in PromoExchange’s Terms of Use.</p>

<p>At PromoExchange, your privacy as an individual or entity is highly regarded and important to us. We take our commitment to our customers very seriously. Accordingly, we will not sell any personally identifiable Information you supply us. You can review the full policy below for more details.</p>

<h2>Collection of Information</h2>

<p>When you register, we ask for your name, email address, and profile Information,. We may also request additional Information for optional online surveys and identification verification. In the course of using the Web Site, we log certain other Information, including your IP address, what browser you are using, the URL you just came from, and your activity on, and use of the Web Site. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities on the site, we may store such Information.</p>

<h2>Use of Information</h2>
<p>We use Information to provide Services, improve our marketing and promotional efforts, review Web Site usage, generate aggregate usage reports, and improve Web Site content, layout and Services. We may use the Information we collect to occasionally notify you about new offerings from PromoExchange and special offers we think you might find useful. If you would rather not receive such notices, please let us know by contacting us at hello@thepromoexchange.com. We may also use your IP address to help diagnose problems with our server and to administer our Web Site and, as necessary, your email address, mailing address, telephone or facsimile number, to contact you. </p>
<p>We may occasionally have a strategic business relationship with another company and choose to integrate a portion or version of our Web Site, Services, content or branding with those offered by that company. In such case, we may agree to share your Information with that company; however, we will do so only subject to strict confidentiality and use obligations and restrictions. Moreover, we will not disclose Information that is unnecessary to the relationship. We may also distribute to other parties for marketing and promotional purposes aggregate PromoExchange business Information from which you cannot be personally identified. In the absence of a strategic relationship, and except in the course of providing the Services, we do not pass on your Information to any party without your express permission.</p>
<p>We may disclose user Information in special cases when we have reason to believe it is necessary to identify, contact, or bring legal action against a party that may be causing injury to or interfering with (either intentionally or unintentionally) PromoExchange’s rights or property, other PromoExchange users, or any other party that could be harmed by such activities. We may disclose user Information when we believe in good faith that the law requires it.</p>

<h2>Control of Passwords</h2>
<p>You are required to control your password as described in the Terms of Use. If you have forgotten your password, please contact us at hello@thepromoexchange.com. Your password will be emailed to you shortly thereafter. <b><i>Note that PromoExchange will never ask for your password in an unsolicited phone call or email.</i></b></p>

<h2>Security</h2>
<p>Transmission of information over the Internet cannot be guaranteed to be 100% secure, but some sites take greater precautions than others to protect the privacy and security of its users. While the Internet is not a locked-down environment, PromoExchange places a high premium on security and privacy. We use Secure Socket Layers (SSL) to encrypt sensitive user data you send to us. Access to our Web Site is password protected. A firewall protects our database from outsiders.</p>

<p>This Privacy Notice addresses only the use and disclosure of personal information we collect from you. If you disclose your information to others, or if you are directed to a third party website, their privacy notices and practices will apply.</p>

<p>PromoExchange uses Stripe, Inc. as a third party payment processor.  We cannot guarantee the privacy or security of your information once you provide it to a third party such as Stripe and we encourage you to evaluate their privacy policy. </p>

<p><a href="https://stripe.com/us/privacy">https://stripe.com/us/privacy</a></p>

<h2>Consent</h2>
<p>By using our Web site, you consent to the collection and use of the above-described Information by PromoExchange.</p>

<h2>Other</h2>
<p>This Web Site may contain links to other web sites. PromoExchange is not responsible for the privacy practices or the content of such sites. You have the option to change or modify certain previously provided Information by revising your user profile online or by contacting PromoExchange via email at hello@thepromoexchange.com.</p>

<h2>Copyright</h2>
<p>All Web Site design, text, graphics, interfaces, and the arrangement thereof, are the exclusive property of PromoExchange. and are protected by U.S. and other international copyright laws. Any unauthorized use of the materials appearing on the Web Site in violation of copyright, trademark and other applicable laws may result in criminal or civil penalties.</p>

<h2>Patents</h2>
<p>The business method and technology implemented on the Web Site is covered by pending or applied for patents with the U.S. Patent and Trademark Office.</p>

<h2>Servicemarks</h2>
<p>PromoExchange’s graphics, logos and service names are the exclusive servicemarks of PromoExchange.. PromoExchange’s servicemarks shall not be used in any manner that disparages or discredits PromoExchange or in connection with any product or service that is not PromoExchange’s and which use is likely to cause confusion among customers as to the source or quality of the product or service. All other trademarks, servicemarks and logos used on the Web Site are the trademarks, servicemarks and logos of their respective owners.</p>
<p>Do you have a question or comment about this privacy statement or the practices of this site? We welcome your feedback at hello@thepromoexchange.com.</p>
