<div role="tabpanel" class="tab-pane" id="seller">
  <div class="panel-group" id="seller-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How do I pay the PromoExchange fee?
          </a>
        </h4>
      </div>
      <div id="seller-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          If the Buyer uses the PromoExchange Clearinghouse, the PromoExchange fee will be automatically deducted from the purchase price before your net price is sent to you. Otherwise, the fee is due within 10 days of project completion and can be paid via check or PayPal (PayPal’s standard fees apply). Credit Card Payment: (insert PayPal link) Checks: (insert mailing address when we have one)
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseTwo" aria-expanded="false" aria-controls="seller-collapseTwo">
            Should I include taxes in my price?
          </a>
        </h4>
      </div>
      <div id="seller-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Yes. Unless otherwise stated your total project price should include any applicable taxes and fees. You cannot add additional charges once you bid has been selected by a Buyer.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseThree" aria-expanded="false" aria-controls="seller-collapseThree">
            Does the award price include the PromoExchange?
          </a>
        </h4>
      </div>
      <div id="seller-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingThree">
        <div class="panel-body">
          Yes. You enter the bid price in the terms of how much you will receive if selected. The bid displayed to the Buyer will automatically be slightly higher, as it will be adjusted to include the PromoExchange fee.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingFour">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseFour" aria-expanded="false" aria-controls="seller-collapseFour">
            I’ve already sent my bid to the Buyer directly. Why do I need to go through PromoExchange?
          </a>
        </h4>
      </div>
      <div id="seller-collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingFour">
        <div class="panel-body">
          When an auction is posted to the Exchange it is considered to be exclusively listed, binding and must be processed through the site. Circumventing PromoExchange after an auction has been posted is grounds for suspension of your PromoExchange membership.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingFive">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseFive" aria-expanded="false" aria-controls="seller-collapseFive">
            Why is Customer Support contacting me about my bid?
          </a>
        </h4>
      </div>
      <div id="seller-collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingFive">
        <div class="panel-body">
          During the auction process, Buyers as well as PromoExchange may want to verify and confirm all specifications of the project are being met and that your bids are accurate and in compliance with the PromoExchange User Agreement.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingSix">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseSix" aria-expanded="false" aria-controls="seller-collapseSix">
            Can I add an attachment to my bid?
          </a>
        </h4>
      </div>
      <div id="seller-collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingSix">
        <div class="panel-body">
          Buyers have the ability to attach artwork for a bid. Sellers do not have the ability to upload any files. Any information related to the bid should be communicated on the Exchange via our messaging functionality.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseSeven" aria-expanded="false" aria-controls="seller-collapseSeven">
            How do I update my seller representative profile (will we have one?) and seller organization profile?
          </a>
        </h4>
      </div>
      <div id="seller-collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingSeven">
        <div class="panel-body">
          Coming Soon! Look out for updates
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingEight">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseEight" aria-expanded="false" aria-controls="seller-collapseEight">
            How do I unsubscribe from email notifications?
          </a>
        </h4>
      </div>
      <div id="seller-collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingEight">
        <div class="panel-body">
          Coming Soon! Look out for updates
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingNine">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseNine" aria-expanded="false" aria-controls="seller-collapseNine">
            How will I know if I was awarded the bid?
          </a>
        </h4>
      </div>
      <div id="seller-collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingNine">
        <div class="panel-body">
          Sellers will receive email notification if they have been awarded the bid or if they have a lost a bid. You can also check your Exchange inbox for communications.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingTen">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseTen" aria-expanded="false" aria-controls="seller-collapseTen">
            My account has been suspended? What actions are needed from me?
          </a>
        </h4>
      </div>
      <div id="seller-collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingTen">
        <div class="panel-body">
          Please contact support@thepromoexchange.com for the reasons why your account was suspended if you have not received notification. To be in reinstated as a qualified Seller you must provide, in writing, an explanation and remedy to the issues that cause the suspension. Upon receipt, PromoExchange will review your account and contact you with our findings.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="seller-headingEleven">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#seller-accordion" href="#seller-collapseEleven" aria-expanded="false" aria-controls="seller-collapseEleven">
            How do I view Buyer attachments?
          </a>
        </h4>
      </div>
      <div id="seller-collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="seller-headingEleven">
        <div class="panel-body">
          Coming Soon! Look out for updates
        </div>
      </div>
    </div>
  </div>
</div>
