<div class="page">
  <div class="row">
    <img class="how-it-works-header-image" src="<%= image_url('page/bags_small.png') %>" alt="bottles">
  </div>

  <h3>How it Works</h3>

  <div class="row">
    <h5><i class="fa fa-gavel"></i>&nbsp;Selling</h5>
    <p>PromoExchange works! As the leading online exchange for promotional products, our marketplace brings Buyers and qualified Sellers together, streamlines the bidding process, and gives Sellers the potential to compete for more jobs with full transparency.</p>
  </div>

  <div class="row">
    <h5><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-stack-1x">1</i>
    </span>Setup Your Seller Account</h5>
    <ul>
      <li>Register with your ASI or PPAI distributor information. You can also register as a 3rd party decorator.</li>
      <li>Create a company profile page.</li>
      <li>Now you have access to compete in all PromoExchange Auctions. It costs nothing to sign-up or to bid! You incur no fees unless you win the business.</li>
    </ul>
  </div>

  <div class="row">
    <h5><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-stack-1x">2</i>
    </span>Start Bidding Different Ways</h5>
    <ul>
      <li>Search the PromoExchange Live Auctions for business on which you’d like to bid.</li>
      <li>Invite Buyers with whom you currently do competitive business to the PromoExchange community. You will receive discounted fees on those Auctions and gain immediate access to placing automatic bids on all PromoExchange Auctions.</li>
      <li>Setup automatic bids for any future Auctions. You can set as many bid filters as you would like, choosing specific (or all) products or factories. You set margins on your initial bid. You’re now competing for new business even while you sleep!</li>
      <li>You enter all bids in net terms. Your bid should be inclusive of all charges, including the product, production charges, setup fees, and shipping. You will not be able to charge the Buyer for anything beyond your bid. Your bid will be automatically increased to include the PromoExchange fee* and any payment processing charges, if applicable, when displayed to Buyers.</li>
    </ul>
  </div>

  <div class="row">
    <h5><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-stack-1x">3</i>
    </span>Win the Job</h5>

    <ul>
      <li>Be selected by the Buyer when the Auction closes and begin processing the order!</li>
      <li>If the Buyer invited you to the Auction, you will be paid by them directly according to the same terms by which you are always paid by them. No payment will take place through PromoExchange and you will receive an invoice from us for our fee. Otherwise, you will be paid for the order via an escrow account held by PromoExchange. We will inform you once the Buyer has deposited the funds in their PromoExchange escrow account. Your money will be disbursed to you once the Buyer receives their product.</li>
      <li>You must have either been invited to PromoExchange by one of the Buyers in our community or have completed five transactions on the site and received positive reviews. </li>
    </ul>
  </div>
  <p class="small-print">* 2.99% for Auctions you are invited to by the Buyer, 8.99% for all other Auctions.</p>

  <a class="btn btn-success" href="/dashboards" role="button">Start Selling</a>
</div>
