<div id="add-account-field">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Add Account Detail</h4>
    </div>
    <form action="/customer" method="POST" id="account-form" class="form">
      <div class="panel-body">
        <span class="payment-errors"></span>
        <div class="row account-block">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text" placeholder="Nick Name" class="nick_name"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="hidden" placeholder="Country" data-stripe="country" value="US"/>
              <input type="text"   placeholder="Routing Number" data-stripe="routing-number"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text"  placeholder="Account Number" class="account_number" data-stripe="account-number"/>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="submit-btn">
          <button class=' btn btn-success' id='account-submit' type="submit">Submit</button>
          <span class=' btn btn-danger cancel-account'>Cancel</span>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="confirm-account-field">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Add Confirm Account Number</h4>
    </div>
    <div class="panel-body">
      <div class="row account-block">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="input-group">
            <input type="hidden" class="account_token" />
          <input type="text" class="confirm_number" placeholder="Confirm Account Number"/>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="submit-btn">
        <button class=' btn btn-success' id='confirm-submit' type="submit">Submit</button>
        <span class=' btn btn-danger confirm-cancel'>Cancel</span>
      </div>
    </div>
  </div>
</div>