<div class="panel panel-default deposit-field">
  <span class="payment-errors"></span>
  <div class="panel-body text-center">
    <p class="well">Checking accounts must be confirmed by our payment processing partner Stripe, before they can be used on PromoExchange. Within a few days you should see two small deposits in your checking account. Please enter the amount of those deposits here. in order to confirm your account.</p>

    <table class="table remove-border">
      <tr>
        <input type="hidden" class="customer_id" value="<%= customer_id %>">
        <td><input type="text" placeholder="Amount of Deposit" class="amount_first"/></td>
        <td><input type="text" placeholder="Amount of Deposit" class="amount_second"/></td>
      </tr>
      <tr>
        <td colspan="2"><button class='btn btn-success amount-submit'>Submit</button></td>
      </tr>
    </table>
  </div>
</div>