<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Add Crad's Detail</h4>
  </div>
  <div class="panel-body">
    <form action="/customer" method="POST" id="customer-form" class="form">
      <span class="payment-errors"></span>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text" size="20" placeholder="Card Number" data-stripe="number"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text" size="4" placeholder="CVC" data-stripe="cvc"/>
            </div>
          </div>
           <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text" size="2" placeholder="MM" data-stripe="exp-month"/>
            <span> / </span>
            <input type="text" size="4" placeholder="YY" data-stripe="exp-year"/>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="submit-btn">
            <button class=' btn btn-success' id='payment-submit' type="submit">Submit</button>
              <span class=' btn btn-danger cancel-card'>Cancel</span>
          </div>
      </div>
    </form>
  </div>
</div>