<div aria-hidden="true" aria-labelledby="basicModal" class="modal" data-key="<%=spree_current_user.spree_api_key%>" id="reject-order-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
       <h4> <strong>Rate Service</strong></h4>
      </div>
      <div class="modal-body">
        <%= hidden_field_tag id='reject-order-auction-id', 0 %>
        <div class="form-group">
          <p>Rejection Reason:</p>
          <textarea id="rejection-reason" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group" id="reject-order-submit">
          <button class="btn btn-success" data-status="submit" >Submit</button>
          <span>or</span>
          <button class="btn btn-default" data-status="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
