<div class="modal fade" id="request-sample-modal" data-id="<%=spree_current_user.spree_api_key%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>
          Product suppliers will sometimes provide these samples at no charge - if the item is eventually ordered. While the fee for those not ordered or comped is nominal (typically the MSRP for the lowest quantity of products plus freight) we do pass along on PromoExchange, so we encourage you to only order samples of those products in which you're most interested.
        </p>
      </div>
      <div class="text-center modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>