<% content_for :page_title do %>
  <%= Spree.t(:invoice) %>
<% end %>

<div class="row" id="show-invoice" data-key="<%= spree_current_user.spree_api_key %>">
    <%= render partial: 'spree/shared/auction_details' %>
    <div class="Payment button">
      <button type='button' class='btn btn-success'><a href='/invoices/'>Pay</a></button>
    </div>
  </div>
</div>
