- content_for :page_title do
 = plural_resource_name(Spree::OptionMapping)

 - content_for :page_actions do
  = button_link_to Spree.t(:new_option_mapping), new_admin_option_mapping_path, { :class => "btn-success", :icon => 'add', 'data-update' => 'new_option_mapping', :id => 'new_option_mapping_link' }

- content_for :table_filter do
  div
    = search_form_for [:admin, @search] do |f|
      - locals = {:f => f}
      .row
        .col.col-md-4
          .form-group
            = f.label :dc_acct_num_cont, "Factory Number"
            = f.text_field :dc_acct_num_cont, :class => "form-control js-quick-search-target"
        .col-md-4
          .form-group
            = f.label :dc_name_cont, "DC Name"
            = f.text_field :dc_name_cont, :class => "form-control"
        .col-md-4
          .form-group
            = f.label :px_name_cont, "PX Name"
            = f.text_field :px_name_cont, :class => "form-control"
      .form-actions
        = button Spree.t(:search), 'search'

.well
  - if @option_mappings.any?
    table.table
      thead
        tr
          th Factory Num
          th DC Name
          th PX Name
          th Ignore
          th Action
      tbody
        - @option_mappings.each do |option_mapping|
          tr
            td = option_mapping.dc_acct_num
            td = option_mapping.dc_name
            td = option_mapping.px_name
            td = option_mapping.do_not_save.humanize
            td.actions.actions-2.text-right
              = link_to_edit(option_mapping, :no_text => true)
              = link_to_delete(option_mapping, :no_text => true)
  - else
    .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::OptionMapping))
    = ","
    = link_to Spree.t(:add_one), new_object_url
    = "!"
= paginate @collection
