<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-4 cs-product">
      <%= link_to large_image(category, { itemprop: 'image', class: 'cs-image' }), main_app.new_purchase_path(purchase: { category_id: category.id }), itemprop: 'url' %>
      <div class="cs-product-text text-center"><%= category.name %></div>
    </div>
  <% end %>
</div>
