<div id="batman-footer" class="navbar navbar-inverse navbar-static-bottom" role="navigation">
  <div class="row foot-nav">
    <div class="col-lg-12">
      <ul>
        <li>
          <a href="https://www.facebook.com/promobidz" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/ThePromoX" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/u/0/110355580281006433130/about" target="_blank"><i class="fa fa-google-plus"></i></a>
          &copy; <%= Time.now.year %> PromoExchange. All Rights Reserved.
        </li>
      </ul>
    </div>
  </div>
</div>
