<% object = object.present? ? object : target %>
<% if object.present? && object.errors.any? %>
  <p class="alert alert-error">Errors</p>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul>
<% end %>
