<div id="batman-footer" class="navbar navbar-inverse navbar-bottom" role="navigation">
  <ul class="nav navbar-nav">
    <li id="home-link"><%= link_to Spree.t(:home), spree.root_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <p class="company-info">&copy; <%= Time.now.year %> PromoExchange LLC</p>
  </ul>
</div>
