<div id="batman-footer" class="navbar navbar-inverse navbar-static-bottom" role="navigation">
  <div class="row foot-nav">
    <div class="col-lg-offset-2 col-lg-2">
      <ul>
        <li>Buy</li>
        <li><%= link_to Spree.t(:register), main_app.new_pxuser_path %></li>
        <li><a href="/buyer_how_it_works">How it Works</a></li>
        <li><a href="/products">Product Search</a></li>
        <li><a href="/faq#buyer">FAQ</a></li>
      </ul>
    </div>
    <div class="col-lg-2">
      <ul>
        <li>Sell</li>
        <li><%= link_to Spree.t(:register), main_app.new_pxuser_path %></li>
        <li><a href="/seller_how_it_works">How it Works</a></li>
        <li><%= link_to Spree.t(:marketplace), main_app.dashboards_path %></a></li>
        <li><a href="/faq#seller">FAQ</a></li>
      </ul>
    </div>
    <div class="col-lg-2">
      <ul>
        <li>More Information</li>
        <li><a href="/support">Support</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="col-lg-2">
      <ul>
        <li>Stay Connected</li>
        <li>
          <a href="https://www.facebook.com/promobidz" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/ThePromoX" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/u/0/110355580281006433130/about" target="_blank"><i class="fa fa-google-plus"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row company-info">
    <div class="col-lg-offset-2 col-lg-4">
      <ul>
        <li>&copy; <%= Time.now.year %> PromoExchange. All Rights Reserved.</li>
      </ul>
    </div>
  </div>
</div>
