<ul class="nav navbar-nav main-nav-bar">
  <li><a href="/buyer_how_it_works"><h4 class="header-nav-element">BUYERS</h4></a></li>
  <li><a href="/seller_how_it_works"><h4 class="header-nav-element">SELLERS</h4></a></li>
  <li><a href="/products"><h4 class="header-nav-element">PRODUCTS</h4></a></li>
  <% if spree_current_user && spree_current_user.has_spree_role?(:seller) %>
    <li><a href="/dashboards"><h4 class="header-nav-element">MARKETPLACE</h4></a></li>
  <% end %>
  <li><a href="/faq"><h4 class="header-nav-element">FAQ</h4></a></li>
  <li><a href="/contact"><h4 class="header-nav-element">CONTACT US</h4></a></li>
</ul>
