<div class="modal" data-id="<%=spree_current_user.spree_api_key%>" id="prebid-edit-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Prebid settings</h4>
        </div>
        <form class="form" id="prebid-form" action="#" method="post">
          <%= hidden_field_tag id='prebid-id', 0 %>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class='row'>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="live-flag">Live</label></br>
                      <input class="live-flag-edit" type="checkbox" name="live-flag-edit" id="live-flag-edit">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="eqp-flag">EQP</label></br>
                      <input class="eqp-flag-edit" type="checkbox" name="eqp-flag-edit" id="eqp-flag-edit">
                    </div>
                  </div>
                </div>
                <div class='row'>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="eqp-discount-edit">Discount from EQP</label></br>
                      <input class="eqp-discount-edit" type="number" name="eqp-discount-edit" id="eqp-discount-edit"><span>%</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="markup-edit">Markup</label></br>
                      <input class="markup-edit" type="number" name="markup-edit" id="markup-edit"><span>%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" id="prebid-submit" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
