- content_for :page_title do
 = plural_resource_name(Spree::ImprintMethod)

 - content_for :page_actions do
  = button_link_to "Imprint Method", new_admin_imprint_method_path, { :class => "btn-success", :icon => 'add', 'data-update' => 'new_imprint_method', :id => 'new_imprint_method_link' }

- content_for :table_filter do
  div
    = search_form_for [:admin, @search] do |f|
      - locals = {:f => f}
      .row
        .col.col-md-12
          .form-group
            = f.label :name_cont, Spree.t(:name)
            = f.text_field :name_cont, :class => "form-control js-quick-search-target"
      .form-actions
        = button Spree.t(:search), 'search'

.well
  - if @imprint_methods.any?
    table.table
      thead
        tr
          th Name
          th Action
      tbody
        - @imprint_methods.each do |imprint_method|
          tr
            td = imprint_method.name
            td.actions.actions-2.text-right
              = link_to_edit(imprint_method, :no_text => true)
              = link_to_delete(imprint_method, :no_text => true)
  - else
    .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ImprintMethod))
    = ","
    = link_to Spree.t(:add_one), new_object_url
    = "!"
= paginate @collection
