<h1>Why Buy on PromoExchange?</h1>
<p>PromoExchange works! As the leading online exchange for promotional products, our marketplace brings Buyers and
  qualified Sellers together, streamlines the bidding process, and provides immediate savings. More savings means more
  power for your promotional products budget.</p>

<a class="btn btn-default" href="#" role="button">Learn More</a>

<div class="row">
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-usd fa-stack-1x"></i>
    </span></h1>
    <h2>Save Money</h2>
    <p>Competitive bidding and price transparency enables lower prices. No hidden fees! The price you see is the price you pay.</p>
  </div>
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-clock-o fa-stack-1x"></i>
    </span></h1>
    <h2>Save Time</h2>
    <p>No more sifting through multiple emails, spreadsheets, and quotes. Realize the savings immediately.</p>
  </div>
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-smile-o fa-stack-1x"></i>
    </span></h1>
    <h2>No Hassle</h2>
    <p>Easily fulfill procurement reporting requirements with our documentation of all bids received in one place.</p>
  </div>
</div>
