<h1>Why Sell on PromoExchange?</h1>
<p>PromoExchange works! As the leading online exchange for promotional products, our marketplace brings Buyers and
  qualified Sellers together, streamlines the bidding process, and gives Sellers the potential to compete for more jobs
  with full transparency.</p>

<a class="btn btn-default" href="#" role="button">Learn More</a>

<div class="row">
  <div class="col-lg-4">
    <img
      class="img-circle"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image"
      width="40"
      height="40" />
    <h2>Reach More Customers</h2>
    <p>Use the PromoExchange marketplace to compete for more business with new and existing customers.</p>
  </div>
  <div class="col-lg-4">
    <img
      class="img-circle"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image"
      width="40"
      height="40" />
    <h2>Lower Overhead Expenses</h2>
    <p>Compete for business without the cold-calling, RFPs, or marketing campaigns. There is no fee to bid.</p>
  </div>
  <div class="col-lg-4">
    <img
      class="img-circle"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image"
      width="40"
      height="40" />
    <h2>Benefit from Transparency</h2>
    <p>No more blind pricing on competitive bids! Always be aware of what others in the marketplace are charging.</p>
  </div>
</div>
