<h1>Why Sell on PromoExchange?</h1>
<p>PromoExchange works! As the leading online exchange for promotional products, our marketplace brings Buyers and
  qualified Sellers together, streamlines the bidding process, and gives Sellers the potential to compete for more jobs
  with full transparency.</p>

<a class="btn btn-default" href="/seller_how_it_works" role="button">Learn More</a>

<div class="row">
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-users fa-stack-1x"></i>
    </span></h1>
    <h2>Reach More Customers</h2>
    <p>Use the PromoExchange marketplace to compete for more business with new and existing customers.</p>
  </div>
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg align-center">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-arrow-down fa-stack-1x"></i>
    </span></h1>
    <h2>Lower Overhead Expenses</h2>
    <p>Compete for business without the cold-calling, RFPs, or marketing campaigns. There is no fee to bid.</p>
  </div>
  <div class="col-lg-4">
    <h1><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-search fa-stack-1x"></i>
    </span></h1>
    <h2>Benefit from Transparency</h2>
    <p>No more blind pricing on competitive bids! Always be aware of what others in the marketplace are charging.</p>
  </div>
</div>
