<div class="container footlinks">
  <div class="col-md-3">
    <ul>
      <li><strong>Buy</strong></li>
      <li>Register</li>
      <li>How It Works</li>
      <li>Product Search</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><strong>Sell</strong></li>
      <li>Register</li>
      <li>How It Works</li>
      <li>Marketplace</li>
      <li>FAQ</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><strong>Stay Connected</strong></li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Google+</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><strong>About</strong></li>
      <li>Support</li>
      <li>Contact Us</li>
      <li>Privacy Policy</li>
      <li>FAQ</li>
    </ul>
  </div>
</div>
<div class="container">
  <p role="contentinfo" class="pull-right"><%= link_to "&copy; 2015 PromoExchange. All Rights Reserved.".html_safe, root_url%></p>
</div>
