<div class="container logobar">
  <div class="col-md-2 ">
    <%= link_to image_tag('PX_logo_lightblue3_100px'),root_url %>
  </div>
  <div class="col-md-8">
    <ul>
      <li>Buyers</li>
      <li>Sellers</li>
      <li><%= link_to 'Products' , products_path %></li>
      <li>FAQ</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="col-md-2">
    search
  </div>
</div>
