<div class="well">
    <div>
        <ul class="nav">
          <% @top_level_cats.each do |c| %>
          <li>
            <label label-default="" class="tree-toggle nav-header"><%= c.name %></label>
            <% c.children.sort.each do |c2| %>
            <ul class="nav tree">
              <li><a href="#"><%= c2.name %></a></li>
            </ul>
            <% end %>
          </li>
          <% end %>
        </ul>
    </div>
</div>
