<p>Hello Mike,</p>

<p>Someone has sent you a request to learn more about Promoexchange</p>

<p>Below is the contact details:</p>

<p><b>Email:</b> <%= @user_email %></p>


<p>The PromoExchange Team</p>

<%= render partial: 'seller_mailer/email_signature' %>
